<a href="https://colab.research.google.com/github/OhSujin/HelloSujinWorld/blob/master/n113a_data_manipulation_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 3*

# ğŸ“ Assignment

---

## 1. Concat 

ì„¸ì…˜ì‹œê°„ì— ë‹¤ë¤˜ë˜ 6ê°œì˜ ë°ì´í„°ë¥¼ 1ê°œë¡œ í•©ì¹˜ì„¸ìš”.

ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê¸° ìœ„í•˜ì—¬ ì•„ë˜ì˜ ì½”ë“œë¥¼ ì°¸ì¡°í•˜ì„¸ìš”.

í•©ì³ì§„ ë°ì´í„°ì˜ ì´ë¦„ì€ `df`ì…ë‹ˆë‹¤.

```python
import pandas as pd

urlhead = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/'
df1 = pd.read_csv(urlhead + '000080.csv') 
# '000890.csv'
# '005300.csv'
# '027740.csv'
# '035810.csv'
# '136480.csv'
```



ë‹¨, ëª¨ë“  feature, ëª¨ë“  ë°ì´í„°ì— ëŒ€í•´ì„œê°€ ì•„ë‹Œ

- ë§¤ì¶œì•¡
- ìë³¸ì´ê³„
- EPS

- ì œì¼ ìµœê·¼ ë¶„ê¸°ì˜ ë°ì´í„°

ì— ëŒ€í•´ì„œë§Œ í•˜ë©´ ë©ë‹ˆë‹¤.

||ë§¤ì¶œì•¡|ìë³¸ì´ê³„|EPS(ì›)|ì¢…ëª©ëª…|
|:-:|:-:|:-:|:-:|:-:|
|2020/09|6,243|10,897|453|í•˜ì´íŠ¸ì§„ë¡œ|
|...|...|...|...|...|
|2020/09|2,613|2,695|62|í•˜ë¦¼|

(ì²«ë¶€ë¶„ì€ ê°’ì´ ë‹¬ë¼ë„ ë˜ë©°, ê²°ê³¼ shapeëŠ” 6,4ì…ë‹ˆë‹¤.)

íŒíŠ¸ : 
- ë°ì´í„°ë¥¼ transpose
- columnì˜ ì´ë¦„ì„ ë³€ê²½ ë° ì„¤ì •
- ë°ì´í„°ì˜ ì¼ë¶€ feature ì„ íƒ
- `ì¢…ëª©ëª…`ì´ë¼ëŠ” feature ì§€ì •
- ì´í›„ `concat`ìœ¼ë¡œ í•©ì¹˜ê¸°
- í•©ì¹œ ì´í›„ì˜ indexë¥¼ ì¢…ëª©ëª…ìœ¼ë¡œ ì„¤ì • ë° drop

ì´ë¼ëŠ” ë‹¨ê³„ë¥¼ ê±°ì¹˜ë©´ ë ê²ë‹ˆë‹¤.

In [18]:
def mydf(myurl):
    # ë°ì´í„° transpose
    df = pd.read_csv(urlhead + myurl).transpose()

    # index ì²˜ë¦¬
    new_header = df.iloc[0] 
    df = df[1:] 
    df.columns = new_header 

    # ë°ì´í„°ì˜ ì¼ë¶€ feature ì„ íƒ => ì œì¼ ìµœê·¼ ë¶„ê¸°ì˜ ë°ì´í„°
    return df[-1:]

df = pd.concat([mydf('000080.csv'), mydf('000890.csv'), mydf('005300.csv'), mydf('027740.csv'), mydf('035810.csv'), mydf('136480.csv')])
df = df.reset_index()
df = df.drop(df.columns[0], axis=1)
    
df

Unnamed: 0    ë§¤ì¶œì•¡ ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... í˜„ê¸ˆë°°ë‹¹ìˆ˜ìµë¥  í˜„ê¸ˆë°°ë‹¹ì„±í–¥(%)   ë°œí–‰ì£¼ì‹ìˆ˜(ë³´í†µì£¼)
0           6,243  644        644  ...     NaN       NaN   70,133,611
1             205    6          6  ...     NaN       NaN  127,449,373
2           5,980  293        293  ...     NaN      0.00    7,993,460
3             521  -89        -89  ...     NaN      0.00  168,807,631
4           4,108  246        246  ...     NaN      0.00   55,640,623
5           2,613    1          1  ...     NaN       NaN  106,209,702

[6 rows x 33 columns]

In [19]:
df2 = pd.DataFrame(
    {'ì¢…ëª©' : ['000080', '000890', '005300', '027740', '035810', '136480'],
     'ì¢…ëª©ëª…': ['í•˜ì´íŠ¸ì§„ë¡œ', 'ë³´í•´ì–‘ì¡°', 'ë¡¯ë°ì¹ ì„±', 'ë§ˆë‹ˆì»¤', 'ì´ì§€í™€ë”©ìŠ¤', 'í•˜ë¦¼',], 
     'í…Œë§ˆ' : ['ì£¼ë¥˜', 'ì£¼ë¥˜', 'ì£¼ë¥˜', 'ìœ¡ê³„', 'ìœ¡ê³„', 'ìœ¡ê³„']}
)
df2

       ì¢…ëª©    ì¢…ëª©ëª…  í…Œë§ˆ
0  000080  í•˜ì´íŠ¸ì§„ë¡œ  ì£¼ë¥˜
1  000890   ë³´í•´ì–‘ì¡°  ì£¼ë¥˜
2  005300   ë¡¯ë°ì¹ ì„±  ì£¼ë¥˜
3  027740    ë§ˆë‹ˆì»¤  ìœ¡ê³„
4  035810  ì´ì§€í™€ë”©ìŠ¤  ìœ¡ê³„
5  136480     í•˜ë¦¼  ìœ¡ê³„

In [20]:
df = pd.concat([df2, df], axis = 1)

In [21]:
df = df[['ë§¤ì¶œì•¡','ìë³¸ì´ê³„', 'EPS(ì›)','ì¢…ëª©ëª…']]
df

     ë§¤ì¶œì•¡    ìë³¸ì´ê³„ EPS(ì›)    ì¢…ëª©ëª…
0  6,243  10,897    453  í•˜ì´íŠ¸ì§„ë¡œ
1    205     816      3   ë³´í•´ì–‘ì¡°
2  5,980  12,096  1,682   ë¡¯ë°ì¹ ì„±
3    521     624    -61    ë§ˆë‹ˆì»¤
4  4,108   7,534  1,168  ì´ì§€í™€ë”©ìŠ¤
5  2,613   2,695     62     í•˜ë¦¼

In [22]:
df.shape

(6, 4)

## 2. Reshape 

ë°©ê¸ˆ ë§Œë“  ë°ì´í„°ë¥¼ ì•„ë˜ ì˜ˆì‹œì™€ ê°™ì€ **tidy** í˜•íƒœë¡œ ë§Œë“œì„¸ìš”.

ì´ë•Œ tidy ë°ì´í„°ì˜ ì´ë¦„ì€ `df_tidy` ì…ë‹ˆë‹¤.

|ì¢…ëª©ëª…|Feature|Value|
|:-:|:-:|:-:|
|í•˜ì´íŠ¸ì§„ë¡œ|ë§¤ì¶œì•¡|6243|
|ë³´í•´ì–‘ì¡°|ë§¤ì¶œì•¡|205|
|ë¡¯ë°ì¹ ì„±|ë§¤ì¶œì•¡|5980|
|...|...|...|
|ë§ˆë‹ˆì»¤|EPS(ì›)|-61|
|ì´ì§€í™€ë”©ìŠ¤|EPS(ì›)|1168|
|í•˜ë¦¼|EPS(ì›)|62|

ì´ í›„ ì•„ë˜ì˜ ì½”ë“œë¥¼ ì •ìƒì ìœ¼ë¡œ ì‹¤í–‰í–ˆì„ë•Œ ë‚˜ì˜¤ëŠ” boxì˜ ìˆ˜ë¥¼ `res`ì— ì €ì¥í•˜ì„¸ìš”.

```python
sns.boxplot(data = df_tidy, x = 'ì¢…ëª©ëª…', y = 'value');
```

In [72]:
df_tidy = df.reset_index()
df_tidy = df_tidy.melt(id_vars= 'ì¢…ëª©ëª…', value_vars= ['ë§¤ì¶œì•¡','ìë³¸ì´ê³„','EPS(ì›)'])
df_tidy

      ì¢…ëª©ëª… variable   value
0   í•˜ì´íŠ¸ì§„ë¡œ      ë§¤ì¶œì•¡   6,243
1    ë³´í•´ì–‘ì¡°      ë§¤ì¶œì•¡     205
2    ë¡¯ë°ì¹ ì„±      ë§¤ì¶œì•¡   5,980
3     ë§ˆë‹ˆì»¤      ë§¤ì¶œì•¡     521
4   ì´ì§€í™€ë”©ìŠ¤      ë§¤ì¶œì•¡   4,108
5      í•˜ë¦¼      ë§¤ì¶œì•¡   2,613
6   í•˜ì´íŠ¸ì§„ë¡œ     ìë³¸ì´ê³„  10,897
7    ë³´í•´ì–‘ì¡°     ìë³¸ì´ê³„     816
8    ë¡¯ë°ì¹ ì„±     ìë³¸ì´ê³„  12,096
9     ë§ˆë‹ˆì»¤     ìë³¸ì´ê³„     624
10  ì´ì§€í™€ë”©ìŠ¤     ìë³¸ì´ê³„   7,534
11     í•˜ë¦¼     ìë³¸ì´ê³„   2,695
12  í•˜ì´íŠ¸ì§„ë¡œ   EPS(ì›)     453
13   ë³´í•´ì–‘ì¡°   EPS(ì›)       3
14   ë¡¯ë°ì¹ ì„±   EPS(ì›)   1,682
15    ë§ˆë‹ˆì»¤   EPS(ì›)     -61
16  ì´ì§€í™€ë”©ìŠ¤   EPS(ì›)   1,168
17     í•˜ë¦¼   EPS(ì›)      62

In [74]:
# columns ì´ë¦„ ë°”ê¿”ì£¼ê¸°
df_tidy = df_tidy.rename(
    columns = {
        #'ì¢…ëª©ëª…': 'ì¢…ëª©ëª…', 
        'variable': 'feature', 
        #'value': 'value'
        }
)
df_tidy

      ì¢…ëª©ëª… feature   value
0   í•˜ì´íŠ¸ì§„ë¡œ     ë§¤ì¶œì•¡   6,243
1    ë³´í•´ì–‘ì¡°     ë§¤ì¶œì•¡     205
2    ë¡¯ë°ì¹ ì„±     ë§¤ì¶œì•¡   5,980
3     ë§ˆë‹ˆì»¤     ë§¤ì¶œì•¡     521
4   ì´ì§€í™€ë”©ìŠ¤     ë§¤ì¶œì•¡   4,108
5      í•˜ë¦¼     ë§¤ì¶œì•¡   2,613
6   í•˜ì´íŠ¸ì§„ë¡œ    ìë³¸ì´ê³„  10,897
7    ë³´í•´ì–‘ì¡°    ìë³¸ì´ê³„     816
8    ë¡¯ë°ì¹ ì„±    ìë³¸ì´ê³„  12,096
9     ë§ˆë‹ˆì»¤    ìë³¸ì´ê³„     624
10  ì´ì§€í™€ë”©ìŠ¤    ìë³¸ì´ê³„   7,534
11     í•˜ë¦¼    ìë³¸ì´ê³„   2,695
12  í•˜ì´íŠ¸ì§„ë¡œ  EPS(ì›)     453
13   ë³´í•´ì–‘ì¡°  EPS(ì›)       3
14   ë¡¯ë°ì¹ ì„±  EPS(ì›)   1,682
15    ë§ˆë‹ˆì»¤  EPS(ì›)     -61
16  ì´ì§€í™€ë”©ìŠ¤  EPS(ì›)   1,168
17     í•˜ë¦¼  EPS(ì›)      62

In [78]:
# ë°•ìŠ¤ì˜ ìˆ˜ resì— ì €ì¥í•˜ê¸°
res =6

## 3. Merge & Join +

pandas mergeì˜ optionsì¤‘ how ì—ëŠ” ì—¬ëŸ¬ê°€ì§€ ì˜µì…˜ë“¤ì´ ìˆìŠµë‹ˆë‹¤.

ê³µì‹ ë ˆí¼ëŸ°ìŠ¤ë¥¼ ê²€ìƒ‰, ì°¸ì¡°í•˜ì—¬

ì•„ë˜ ì½”ë“œë¥¼ ë°”íƒ•ìœ¼ë¡œ 

ë‹¤ìŒê³¼ ê°™ì€ ê²°ê³¼ë¬¼ì„ ë§Œë“œëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df2` ì…ë‹ˆë‹¤.

|key1|key2|A|B|C|D|
|:-:|:-:|:-:|:-:|:-:|:-:|
|K0|K0|A0|B0|C0|D0|
|K0|K1|A1|B1|NaN|NaN|
|K1|K0|A2|B2|C1|D1|
|K1|K0|A2|B2|C2|D2|
|K2|K1|A3|B3|NaN|NaN|

In [52]:
import pandas as pd

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

df2 = left.merge(right, how = 'left')
df2

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [80]:
import numpy as np

def grade(df, df2, df_tidy, res):
  score = 0
  score += (df['ë§¤ì¶œì•¡'][2] == 5980)
  score += (df['ìë³¸ì´ê³„'][3] == 1897)   
  score += (df2.equals(pd.DataFrame({
    'key1' : ['K0', 'K0', 'K1', 'K1', 'K2'],
    'key2' : ['K0', 'K1', 'K0', 'K0', 'K1'],
    'A' : ['A0', 'A1', 'A2', 'A2', 'A3'],
    'B' : ['B0', 'B1', 'B2', 'B2', 'B3'],
    'C' : ['C0', np.NaN, 'C1', 'C2', np.NaN],
    'D' : ['D0', np.NaN, 'D1', 'D2', np.NaN],
  }))) 
  score += (res == 6)
  score += (round(df_tidy['value'].mean(), 3) == 7090.444)
  return(score)

In [81]:
grade(df, df2, df_tidy, res)

TypeError: ignored

## ğŸ”¥ ë„ì „ê³¼ì œ

ì•„ë˜ ë§í¬ë“¤ì„ ì°¸ì¡°í•˜ì—¬, 
íŠ¹ì • í…Œë§ˆë³„ë¡œ í¬í•¨ë˜ì–´ ìˆëŠ” ì¢…ëª©ì˜ ë°ì´í„°ë¥¼ ì§ì ‘ csví˜•íƒœë¡œ ìˆ˜ì§‘í•˜ê³  (ì•„ë˜ ì íŒ 3ê°œì”©)

<https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=408>

<https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=36>

- ìµœì¢… ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°

- í…Œë§ˆë³„ í‰ê·  ë°ì´í„°ë¥¼ ê²°ê³¼ë¬¼ë¡œ ë§Œë“œëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

ë‹¨, ëª¨ë“  featureì— ëŒ€í•´ì„œê°€ ì•„ë‹Œ

- ë§¤ì¶œì•¡
- ìë³¸ì´ê³„
- EPS

ì— ëŒ€í•´ì„œë§Œ í•˜ë©´ ë©ë‹ˆë‹¤.

|ì¢…ëª©ëª…|ë§¤ì¶œì•¡|ìë³¸ì´ê³„|EPS|
|:-:|:-:|:-:|:-:|
|ëŒ€í•œí•´ìš´|...|...|...|...|
|íŒ¬ì˜¤ì…˜|...|...|...|...|
|KSSí•´ìš´|...|...|...|...|
|ì„¸ë¯¸ì½˜ë¼ì´íŠ¸|...|...|...|...|
|ì˜¤ì„±ì²¨ë‹¨ì†Œì¬|...|...|...|...|
|ì—ì´ì•„ì´ë¹„íŠ¸|...|...|...|...|

---

|í…Œë§ˆ|ë§¤ì¶œì•¡|ìë³¸ì´ê³„|EPS|
|:-:|:-:|:-:|:-:|
|í•´ìš´|...|...|...|
|ë§ˆë¦¬í™”ë‚˜(ëŒ€ë§ˆ)|...|...|...|

ì´í›„ ì•„ë˜ì˜ ì˜ˆì‹œ ì²˜ëŸ¼ seabornì„ ì‚¬ìš©í•˜ì—¬ ê²°ê³¼ë¥¼ barplotìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.

ë‹¨, í•œê¸€ì´ ê¹¨ì§€ëŠ” ì—ëŸ¬ë¥¼ ì—¬ëŸ¬ë¶„ì´ ì§ì ‘ ê³ ì³ì•¼í•©ë‹ˆë‹¤.

In [ ]:
import pandas as pd
import seaborn as sns

dat = pd.DataFrame({
    'name' : ['í•´ìš´', 'ëŒ€ë§ˆ'],
    'value' : [10000,5000]
})

In [ ]:
sns.barplot(x = 'name', y = 'value', data = dat);